@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
}

/*! Шапка */

.header {
  padding-top: 46px;
  background-color: #f1f1f1;
  color: #000000;
}

.header .container {
  padding: 0 50px;
}

.header_text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  position: relative;
  padding: 0 10px 3px 0;

  font-weight: 700;
  font-size: 32px;
  line-height: 1;

  color: #000000;
}

.logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fda300;
  border-radius: 50%;
}

.header_list {
  font-weight: 500;
  font-size: 14px;

  display: flex;
  column-gap: 30px;
}

.nav-button {
  display: none;
}

.nav_link {
  color: #000000;

  transition: 0.3s;
}

.nav_link.active {
  color: #606060;
}

.nav_link:hover {
  opacity: 0.8;
}

/*! Приветственная страница */

.heder_content {
  margin-top: 200px;
  max-width: 490px;
}

.header_title {
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
}

.header_descr {
  font-size: 14px;
  line-height: 200%;
}

.main {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.header_img {
  max-width: 400px;

  margin-top: 75px;

  object-fit: cover;
}

/*! Карточки */

.services {
  padding: 90px 0;
}

.services .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1px;

  padding: 0 50px;
}

.services_card {
  flex: 1 1 0;
  text-transform: uppercase;
}

.services_img {
  max-width: 70px;
}

.services_title {
  font-weight: 600;
  font-size: 24px;

  margin-top: 30px;
  margin-bottom: 10px;
}

.services_descr {
  font-size: 14px;
  line-height: 200%;
}

/*! Картинки */

.pictures {
  padding: 90px 130px;
  background-color: #f1f1f1;
}

.pictures_title {
  font-weight: 600;
  font-size: 34px;
  text-align: center;

  margin-bottom: 70px;
}

.picture {
  display: flex;
  flex-direction: column;
  text-decoration-line: underline;
  align-items: center;
}

.picture_img {
  max-width: 930px;
}

.link {
  font-size: 18px;
  text-align: center;

  margin-top: 40px;
  margin-bottom: 90px;

  color: #070707;
}

/*! Подвал */

.footer {
  padding: 90px 0;
  text-align: center;
}

.footer .container {
}

.footer_text {
}

.footer_title {
  font-weight: 600;
  font-size: 34px;

  margin-bottom: 40px;
}

.footer_desc {
  font-size: 18px;
  line-height: 27px;

  margin-bottom: 40px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 180px;
  height: 42px;

  background-color: #000000;
  border-radius: 100px;

  font-size: 18px;
  color: #ffffff;

  margin-bottom: 80px;

  transition: 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.footer_social {
  display: flex;
  justify-content: center;
  gap: 60px;

  margin-bottom: 40px;

  transition: 0.3s;
}

.footer_social:hover {
  color: #000000;
}

.footer_last {
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #828282;
}
