@media (max-width: 1230px) {
  .header_list {
    display: none;
  }

  .nav-button {
    display: block;
  }

  .header_nav.open .header_list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;

    z-index: 1;
    padding: 46px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    font-size: 34px;
    font-weight: 600;
  }

  .nav_link {
    color: #828282;
  }

  .nav_link.active {
    color: #000;
  }

  .nav-button {
    position: absolute;
    z-index: 9;
    top: 46px;
    right: 30px;
  }

  .header_nav.open .nav-button {
    position: fixed;
  }

  .main {
    flex-direction: column;
    row-gap: 20px;
  }

  .header_content {
    margin-top: 0;
  }

  .heder_content {
    margin-top: 50px;
  }

  .header_img {
    text-align: center;
  }

  .pictures {
    padding: 60px 0;
  }

  .pictures_title {
    max-width: 315px;
    margin-bottom: 50px;
  }

  .link {
    margin-top: 30px;
    margin-bottom: 55px;
  }

  .picture_img {
    margin: 0 30px;
  }

  .footer_title {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .footer {
    padding: 0;
  }

  .footer_desc {
    margin-bottom: 20px;
  }

  .btn {
    margin-bottom: 70px;
  }

  .footer_social {
    gap: 50px;
    margin-bottom: 20px;
  }

  .footer_last {
    margin-bottom: 60px;
  }
}
